*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #fff;
    --accent-color: #f00;
    --bg-color: #7a650e; 
    --text-color: black;
    --card-color: #5cacb7;
    --muted-color: #756189;
}

body {
    background-color: var(--bg-color);
}

header {
    background-color: var(--card-color);
    display: flex;
    justify-content: space-between;
    padding: 16px; 
    align-items: center;
}

nav {
    display: flex;
    gap: 24px;

}

#hero {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), /* 黒い半透明（文字を読みやすく） */
    url("https://images.unsplash.com/photo-1521017432531-fbd92d768814?w=1600&h=900&fit=crop&auto=format&q=80");
    padding: 140px 24px;
    background-size: cover;
    color: var(--card-color);
    text-align: center;
}