*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #fff;
    --accent-color: gold;
    --bg-color: #7a650e;
    --text-color: white;
    --card-color: #5cacb7;
    --muted-color: navy;
}

body {
    background-color: var(--card-color);
}

h1, h2, h3 {
    color: var(--muted-color);
}

button {
    background-color: var(--bg-color);
    color: var(--main-color);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

header {
    background-color: var(--card-color);
    display: flex;
    justify-content: space-between;
    padding: 16px; 
    align-items: center;
}

nav {
    display: flex;
    gap: 24px;

}

section {
    max-width: 960px;
    margin: 0 auto;
    padding:  60px 24px;
}

section h2 {
    font-size: 30px;
    border-bottom: 3px solid var(--accent-color);
}

#hero {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), /* 黒い半透明（文字を読みやすく） */
    url("https://images.unsplash.com/photo-1521017432531-fbd92d768814?w=1600&h=900&fit=crop&auto=format&q=80");
    padding: 140px 24px;
    background-size: cover;
    background-position: center;
    color: var(--card-color);
    text-align: center;
    max-width: none;
}

#hero h2 {
    color: var(--card-color);
    border-bottom: none;
}

/* Recommend */
.recommend {
    border: 2px dashed var(--bg-color);
    background-color: var(--main-color);
    margin: 40px 0;
    padding: 24px;
    text-align: center;
}

/* Menu */
.menu-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.menu-item {
    flex: 1;
    background-color: var(--text-color);
    border-radius: 8px;
    min-width: 240px;
    padding: 24px;
    overflow: hidden;
}

.menu-item img{
    height: 180px;
    display: block;
    width: calc(100% + 48px);
    margin: -24px -24px 16px;
    object-fit: cover;
}